# Node & pnpm
node_modules/
.pnpm-store/
pnpm-lock.yaml
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Builds / caches
dist/
build/
tmp/
temp/
.cache/
.eslintcache
.nyc_output/
coverage/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Electron
*.asar
out/

# Tests
.playwright/
test-results/
